# Alerting Webhooks
DISCORD_WEBHOOK_URL=url
TELEGRAM_BOT_TOKEN=token
TELEGRAM_CHAT_ID=id


# Logs
LOG_NAME=EarnestPipeline
LOG_PATH=logs
LOGTAIL_TOKEN=token
LOGTAIL_HOST=host


# Kafka Configuration for Confluent Cloud
KAFKA_USERNAME=username
KAFKA_PASSWORD=password
KAFKA_CLIENT_ID=id
KAFKA_SERVER=server
KAFKA_SECURITY_PROTOCOL=SASL_SSL
KAFKA_SASL_MECHANISMS=PLAIN
KAFKA_SESSION_TIMEOUT_MS=45000


# Storage Paths
BRONZE_LAYER_PATH=output/bronze
SILVER_LAYER_PATH=output/silver
GOLD_LAYER_PATH=output/gold

# Snowflake
SNOWFLAKE_URL=url
SNOWFLAKE_USER=user
SNOWFLAKE_PASSWORD=password
SNOWFLAKE_DATABASE=db
SNOWFLAKE_SCHEMA=schema
SNOWFLAKE_WAREHOUSE=warehous


# API Token for the AI Agent
GROQ_API_KEY=key
GROQ_API_KEY_1=key
GROQ_API_KEY_2=key
GROQ_API_KEY_3=key
GROQ_API_KEY_4=key
GROQ_API_KEY_5=key
GROQ_API_KEY_6=key
GROQ_API_KEY_7=key
GROQ_API_KEY_8=key
GROQ_API_KEY_9=key
GROQ_API_KEY_10=key
FAILOVER_GROQ_API_KEY=key


# Calendarific API Configuration
HOLIDAY_API_KEY=key
HOLIDAY_API_URL=https://calendarific.com/api/v2/holidays
HOLIDAY_COUNTRY=EG
HOLIDAY_TIMEOUT=10
HOLIDAY_RETRIES=3
HOLIDAY_DELAY=0.25
